<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>
<% if @user.avatar.attached? %>
  <p>
    <b> Original:</b> <br/>
    <%= image_tag url_for(@user.avatar) %>
  </p>
  <p>
    <b> Thumb: </b><br/>
    <%= image_tag url_for(@user.avatar.variant(resize: '100x100')) %>
  </p>
  <p>
    <b> Download: </b><br/>
    <%= link_to "#{@user.avatar.filename} (download)", rails_blob_path(@user.avatar, disposition: "attachment") %>
  </p>
<% end %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
