<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>


<% if @document.files.attached? %>
  <div>
    <strong>Files:</strong>
    <% @document.files.each do |file| %>
      <p>
        <!-- previewable?:  Returns true if any registered previewer accepts the blob. By default, this will return true for videos and PDF documents -->
        <% if file.previewable? %>
          Thumb (<%= file.filename %>): <%= link_to image_tag(file.preview(resize: '200X200')),  file , target: '_blank' %> | &nbsp;
          <% if file.video? %>
            play Video:<%= video_tag rails_blob_path(file), controls: true, width: 400, height: 400 %>
          <% else  %>
            download :<%= link_to  "Download", rails_blob_path(file, disposition: 'attachment')%>
          <% end  %>
        <% elsif file.variable? %>
          <%= link_to image_tag(file.variant(resize: '100X100')), file , target: '_blank' %>
        <% elsif file.audio? %>
          play audio(<%= file.filename %>): <%= audio_tag(rails_blob_path(file), autoplay: false, controls: true) %>
        <% else %>
          <%= link_to  "Download file (#{file.filename})", rails_blob_path(file, disposition: 'attachment')%>
        <% end %>
    <% end %>
    </p>
  </div>
<% end %>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
