<!DOCTYPE html>
<html>
  <head>
    <title>Rails5ActiveStorage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div style="align-content: center">
    <%= link_to 'Users', users_path %> &nbsp; <%= link_to 'Documents', documents_path %>
  </div>

    <%= yield %>
  </body>
</html>
